<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center">
                    <img src="assets/images/users/5.jpg" class="rounded-circle" width="150" />
                    <h4 class="card-title m-t-10">{{singleclient?.username}}</h4>

                    <div class="row text-center justify-content-md-center">
                        <button (click)="logout()" clas="row" type="button" class="btn btn-success">Logout</button>
                        <!-- <div class="col-4">
                            <a href="javascript:void(0)" class="link">
                                <i class="icon-people m-r-10"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="javascript:void(0)" class="link">
                                <i class="icon-picture m-r-10"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <small class="text-muted">Email address </small>
                <h6>{{singleclient?.email}}</h6>
                <small class="text-muted p-t-30 db">Phone</small>
                <h6>{{singleclient?.phone}}</h6>
                <small class="text-muted p-t-30 db">Address</small>
                <h6>{{singleclient?.address}}</h6>
                <!-- <small class="text-muted p-t-30 db">Social Profile</small>
                <h6>{{singleclient?.address}}</h6> -->
                <br />
                <!-- <button class="btn btn-circle btn-secondary">
                    <i class="fab fa-facebook"></i>
                </button>
                <button class="btn btn-circle btn-secondary">
                    <i class="fab fa-twitter"></i>
                </button>
                <button class="btn btn-circle btn-secondary">
                    <i class="fab fa-youtube"></i>
                </button> -->
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <ngb-tabset type="pills" class="custom-pills">
                <ngb-tab title="Buy">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-buyer-table [buyers]="buyers"></app-buyer-table>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Sell">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-seller-table [sellers]="sellers"></app-seller-table>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="My wallet">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <button type="button" (click)="showSendModal()"
                                class="btn btn-success">Send</button>
                            <button type="button" (click)="showRecieveModal()"
                                class="btn btn-success">Recieve</button>
                            <br>
                            <br>
                            <app-earnings [singleclient]="singleclient"></app-earnings>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="set payment">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-activity></app-activity>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Post Trade">
                    <ng-template ngbTabContent>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-body"  >
                                   <div class="card-body1" [perfectScrollbar]="config">
                                    <form [formGroup]="postTradeData">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="nametext1"
                                                placeholder={{singleclient.username}} disabled>
                                        </div>
                                        
                                        <h6>I want to:</h6>
                                        <div class="form-group m-b-30">
                                            <select [(ngModel)]="tradetype" formControlName="formTradeType"  class="custom-select mr-sm-2" 
                                                id="inlineFormCustomSelect">
                                                <option value="BUY">Buy</option>
                                                <option value="SELL">Sell</option>
                                            </select>
                                            <small id="name" class="form-text text-muted">Select the type of trade</small>
                                        </div>
                                        <h6>CryptoType:</h6>
                                        <div class="form-group m-b-30">
                                            <select [(ngModel)]="cryptoTypeTrade" formControlName="formCryptoType" (ngModelChange)="amountChangedtrade()" class="custom-select mr-sm-2"
                                                id="inlineFormCustomSelect">
                                                <option value="BTC">Bitcoin</option>
                                                <option value="ETH">Ethereum</option>
                                            </select>
                                            <small id="name" class="form-text text-muted">Select the type of
                                                currency</small>
                                        </div>
                                       
                                        <h6>Please enter total Quantity</h6>
                                        <div class="form-group">
                                            <input [(ngModel)]="quantityTrade"  (ngModelChange)="amountChangedtrade()"  formControlName="formquantity" 
                                                class="form-control" placeholder="0.0"
                                                aria-describedby="basic-addon1">
                                            <small id="name" class="form-text text-muted">please enter the quantity of
                                                the BTC/ETH</small>
                                        </div>
                                       
                                        <h6>Please enter the price of one</h6>
                                        <div class="form-group">
                                            <input [(ngModel)]="amountTrade"  (ngModelChange)="amountChangedtrade()"
                                                class="form-control"  formControlName="formpricePer"
                                                placeholder="$0.00" aria-describedby="basic-addon1">
                                            <small id="name" class="form-text text-muted">please enter the price in
                                                dollars of per quantity
                                                BTC/ETH</small>
                                        </div>
                                        
                                        <div class="form-group">
                                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="totalUsdAmount"
                                                 class="form-control"
                                                id="nametext1" placeholder="Total Price" disabled>
                                            <div class="input-group-append">
                                                <span class="input-group-text">USD</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="Change"
                                                 class="form-control"
                                                id="nametext1" placeholder="Calculated change from market" disabled>
                                        </div>
                                        <h6 class="card-title">Description</h6>
                                        <div class="m-t-20">
                                            <textarea  formControlName="formdescription"  class="form-control" type="text" [(ngModel)]="descriptionTrade"  rows="3" placeholder="Text Here..."></textarea>
                                            <small id="name" class="form-text text-muted">Enter your rules and regulations
                                                </small>
                                        </div>
                                        <br>
                                        <div class="col-4 col-lg-2 col-md-4">
                                            <button type="button" class="btn btn-success"
                                                (click)="confirm()" [disabled]="postTradeData.invalid">confirm</button>
                                        </div>
                                    </form>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <!-- Column -->
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Send Bitcoins" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading" [nzFooter]="modalFooter1">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form class="m-t-30">
                        <div class="form-group m-b-30">
                            <h4 class="card-title">Select Currency</h4>
                            <select [(ngModel)]="coinTypeSend" class="form-control" id="currencySelector"
                                name="currencySelector" placeholder="">
                                <option value="BTC">Bitcoin</option>
                                <option value="ETH">Ethereum</option>
                            </select><br>
                            <h4 class="card-title">To</h4>
                            <input [(ngModel)]="addressToSend" [ngModelOptions]="{standalone: true}" ng-if="selectValues.selcetedValue === 'B'" type="text" class="form-control"
                                id="nametext" aria-describedby="name" placeholder="Please enter the Address"><br>
                            <h4 class="card-title">Amount</h4>
                            <div class="input-group mb-3">
                               <input type="text" [(ngModel)]="amountSend" (ngModelChange)="amountChangedSend()"
                                    [ngModelOptions]="{standalone: true}" class="form-control" placeholder="0.00"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span *ngIf="coinTypeSend == 'BTC'" class="input-group-text">BTC</span>
                                    <span *ngIf="coinTypeSend == 'ETH'" class="input-group-text">ETH</span>
                                </div>
                                <input type="text" [(ngModel)]="usdAmount" [ngModelOptions]="{standalone: true}"
                                    disabled class="form-control" placeholder="$0.00" aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text">USD</span>
                                </div>
                            </div>
                            <h4 class="card-title">Description</h4>
                            <div class="m-t-20">
                                <textarea class="form-control" type="text" [(ngModel)]="descriptionSend" [ngModelOptions]="{standalone: true}" rows="3" placeholder="Text Here..."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ng-template #modalFooter1>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="saveSend()" [disabled]="usdAmount=='0'"
            [nzLoading]="saveSendLoading">Done sending</button>
    </ng-template>
</nz-modal>
<nz-modal [(nzVisible)]="is2ndVisible" nzTitle="Recieve Bitcoins" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading" [nzFooter]="modalFooter">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form class="m-t-30">
                        <div class="form-group m-b-30">

                            <h4 class="card-title">Select Currency:</h4>
                            <select [(ngModel)]="coinType" (ngModelChange)="currencyChanged()" class="form-control"
                                id="exampleFormControlSelect1" name="exampleFormControlSelect1">
                                <option value="BTC">Bitcoin</option>
                                <option value="ETH">Ethereum</option>
                            </select><br><br>
                            <h4 class="card-title">Amount</h4>
                            <div class="input-group mb-3">
                                <input type="text" [(ngModel)]="amountReceive" (ngModelChange)="amountChanged()"
                                    [ngModelOptions]="{standalone: true}" class="form-control" placeholder="0.00">
                                <div class="input-group-append">
                                    <span *ngIf="coinType == 'BTC'" class="input-group-text">BTC</span>
                                    <span *ngIf="coinType == 'ETH'" class="input-group-text">ETH</span>
                                </div>
                                <input type="text" [(ngModel)]="usdAmount" [ngModelOptions]="{standalone: true}"
                                    disabled class="form-control" placeholder="$0.00" aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text">USD</span>
                                </div>
                            </div><br>
                            <h4 class="card-title">Sender Wallet Address:</h4>
                            <div class="input-group mb-3">
                                <input type="text" [(ngModel)]="addressFrom" [ngModelOptions]="{standalone: true}"                                  class="form-control"
                                    placeholder="wallet address" aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text">Sender's Wallet Address</span>
                                    <!-- <button <i class="mdi mdi-file-multiple"></i>click me</button> -->
                                </div>
                            </div>
                            <h4 class="card-title">Address:</h4>
                            <div class="input-group mb-3">
                                <input type="text" [(ngModel)]="addressTo" disabled
                                    [ngModelOptions]="{standalone: true}" class="form-control"
                                    placeholder="wallet address" aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text">Wallet Address</span>
                                    <!-- <button <i class="mdi mdi-file-multiple"></i>click me</button> -->
                                </div>
                            </div>
                            <small id="textHelp" class="form-text text-muted">Copy this wallet address</small>
                            <!-- <div>
                                <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
                                <button nz-button nzType="primary" (click)="saveReceieved()" [disabled]="usdAmount=='0'"
                                    [nzLoading]="saveReceivedLoading">Done recieving</button>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="saveReceieved()" [disabled]="usdAmount=='0'"
            [nzLoading]="saveReceivedLoading">Done recieving</button>
    </ng-template>
</nz-modal>