<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="m-t-30 text-center">
                    <img src="assets/images/users/5.jpg" class="rounded-circle" width="150" />
                    <h4 class="card-title m-t-10">{{singleclient.Username}}</h4>

                    <div class="row text-center justify-content-md-center">
                        <button (click)="logout()" clas="row" type="button" class="btn btn-success">Logout</button>
                        <!-- <div class="col-4">
                            <a href="javascript:void(0)" class="link">
                                <i class="icon-people m-r-10"></i>
                            </a>
                        </div>
                        <div class="col-4">
                            <a href="javascript:void(0)" class="link">
                                <i class="icon-picture m-r-10"></i>
                            </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <small class="text-muted">Email address </small>
                <h6>{{singleclient.Email}}</h6>
                <small class="text-muted p-t-30 db">Phone</small>
                <h6>{{singleclient.Phone}}</h6>
                <small class="text-muted p-t-30 db">Address</small>
                <h6>{{singleclient.Address}}</h6>
                <small class="text-muted p-t-30 db">Social Profile</small>
                <br />
                <!-- <button class="btn btn-circle btn-secondary">
                    <i class="fab fa-facebook"></i>
                </button>
                <button class="btn btn-circle btn-secondary">
                    <i class="fab fa-twitter"></i>
                </button>
                <button class="btn btn-circle btn-secondary">
                    <i class="fab fa-youtube"></i>
                </button> -->
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <ngb-tabset type="pills" class="custom-pills">
                <ngb-tab title="Buy">
                    <ng-template ngbTabContent>
                        <div class="card-body">''
                            <app-buyer-table [buyers]="buyers"></app-buyer-table>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Sell">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <app-seller-table [sellers]="sellers"></app-seller-table>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="My wallet">
                    <ng-template ngbTabContent>
                        <div class="card-body">
                            <button type="button" (click)="showModal()"
                                class="btn btn-rounded btn-primary">Send</button>
                            <button type="button" (click)="showmModal()"
                                class="btn btn-rounded btn-primary">Recieve</button>

                            <app-earnings [singleclient]="singleclient"></app-earnings>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Post Trade">
                    <ng-template ngbTabContent>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-body">

                                    <form class="m-t-30">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="nametext1" placeholder="Name"
                                                disabled>
                                        </div>
                                    </form>
                                    <br>
                                    <h6>I want to:</h6>
                                    <div class="form-check form-check-inline">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input"
                                                id="customControlValidation2" name="radio-stacked">
                                            <label class="custom-control-label"
                                                for="customControlValidation2">Buy</label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input"
                                                id="customControlValidation3" name="radio-stacked">
                                            <label class="custom-control-label"
                                                for="customControlValidation3">Sell</label>
                                        </div>
                                    </div><br><br>
                                    <form>
                                        <div class="form-group m-b-30">
                                            <label class="mr-sm-2" for="inlineFormCustomSelect">Select the type of
                                                currency</label>
                                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                                <option selected>Choose...</option>
                                                <option value="1">Bitcoin</option>
                                                <option value="2">Ethereum</option>
                                            </select>
                                        </div>
                                    </form>
                                    <br>
                                    <h6>Please enter the price</h6>
                                    <form class="m-t-20">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="nametext"
                                                aria-describedby="name" placeholder="Price">
                                            <small id="name" class="form-text text-muted">Price should be in dollars
                                                because i will be calculated according to the current price of
                                                BTC/ETH</small>
                                        </div>
                                    </form>
                                    <form class="m-t-30">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="nametext1" placeholder="Change"
                                                disabled>
                                        </div>
                                    </form>
                                    
                                    <div class="col-4 col-lg-2 col-md-4">
                                        <button type="button" class="btn btn-rounded btn-block btn-success">confirm</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
    <!-- Column -->
</div>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Send Bitcoins" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form class="m-t-30">
                        <div class="form-group m-b-30">
                            <h4 class="card-title">Select Currency</h4>
                            <select ng-model="data.currencySelector" class="form-control" id="currencySelector" name="currencySelector">
                                <option value="BTC">Bitcoin</option>
                                <option value="ETH">Ethereum</option>
                            </select><br>
                            <h4 class="card-title">To</h4>
                            <input type="text" class="form-control" id="nametext" aria-describedby="name"
                                placeholder="paste destination here"><br>
                            <h4 class="card-title">Amount</h4>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="0.00"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text">BTC</span>
                                </div>
                                <input type="text" class="form-control" placeholder="$0.00"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text">USD</span>
                                </div>
                            </div>
                            <h4 class="card-title">Description</h4>
                            <div class="m-t-20">
                                <textarea class="form-control" rows="3" placeholder="Text Here..."></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nz-modal>
<nz-modal [(nzVisible)]="is2ndVisible" nzTitle="Recieve Bitcoins" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form class="m-t-30">
                        <div class="form-group m-b-30">
                            <h4 class="card-title">Select Currency:</h4>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Bitcoin</option>
                                <option>Ethereum</option>
                            </select><br><br>
                            <h4 class="card-title">Address:</h4>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="wallet address"
                                    aria-describedby="basic-addon1">
                                <div class="input-group-append">
                                    <span class="input-group-text">Wallet</span>
                                </div>
                            </div>
                            <small id="textHelp" class="form-text text-muted">Copy this wallet address</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nz-modal>