<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Sign Up</h5>
            </div>
             <form [formGroup]="signupData">
                
                <div class="form-group row ">
                    <div class="col-12 ">
                       <input class="form-control form-control-lg" [(ngModel)]="username" name="Username" type="text" formControlName="Username" required=" " placeholder="UserName">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 ">
                        <input class="form-control form-control-lg" [(ngModel)]="email" name="Email" type="Email" placeholder="your@email.com" formControlName="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 ">
                        <input class="form-control form-control-lg" [(ngModel)]="password" name="Password" type="Password" placeholder="Password" formControlName="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 ">
                        <input class="form-control form-control-lg" name="Confirm" type="Password" placeholder="Password again" formControlName="Confirm">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 ">
                        <input class="form-control form-control-lg" [(ngModel)]="phone" name="Phone" type="text" placeholder="Phone" formControlName="Phone">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 ">
                        <input class="form-control form-control-lg" [(ngModel)]="address" name="Address" type="text" placeholder="Address" formControlName="Address">
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-md-12 ">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" formControlName="checkme" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                        </div>
                    </div>
                </div>

            <button class="btn btn-block btn-lg btn-info " type="submit" [disabled]="signupData.invalid" (click)="SaveToDB()" > SIGN UP</button>

            <div class="form-group m-b-0 m-t-10 ">
                <div class="col-sm-12 text-center ">
                    Already have an account? <a href="#/authentication/login " class="text-info m-l-5 "><b>Sign In</b></a>
                </div>
            </div>
  </form>
        </div> 
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Confirm Approve" 
(nzOnCancel)="handleCancel()"
 (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    [nzFooter]="modalFooter">
    
    <div>
      <label>Please go to your Signed uop email address and send a photo of your driving license(both sides) or</label><br>
      <label> National identity card(both sides) or Password number page for the verification purpose on </label>
      </div>
<ng-template #modalFooter>
  <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
  <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Approve</button>
</ng-template>
</nz-modal>