<!-- 
<app-welcome></app-welcome>

<app-product-info></app-product-info>

<app-mix-stats></app-mix-stats>

<div class="row">
    <div class="col-sm-12 col-lg-8">
        <app-project></app-project>
    </div>
    <div class="col-sm-12 col-lg-4">
        <app-weather></app-weather>
    </div>
</div>

<div class="row">
    
    <div class="col-sm-12 col-lg-6">
        <app-tasklist></app-tasklist>
    </div>
    
    <div class="col-sm-12 col-lg-6">
        <app-feeds></app-feeds>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <app-review></app-review>
    </div>
    <div class="col-lg-4">
        <app-earnings></app-earnings>
    </div>
</div>
 -->
