<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Recovery password</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="forgotPasswordForm" class="form-horizontal m-t-20" action="index.html">
                        
                        <div class="form-group row">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                </div>
                                <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="Example@email.com" aria-label="email" aria-describedby="basic-addon1">
                            </div>
                
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <button (click)="sendpassword()" class="btn btn-block btn-lg btn-info" type="submit">Send Recovery password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>