<app-navigation></app-navigation>
<app-info-box [singleclient]="singleclient" ></app-info-box>
<app-profile [singleclient]="singleclient" ></app-profile>

<app-buySell-table></app-buySell-table>



<app-user-details [myPendingRequests]="myPendingRequests"></app-user-details> 

<app-approved-request  [myApprovedRequests] = " myApprovedRequests "></app-approved-request>

<app-ClientWithdrawrequest-table></app-ClientWithdrawrequest-table>

<div class="row">
    <!-- column -->
    <div class="col-sm-12 col-lg-4">
        <app-device-visits></app-device-visits>
    </div>
    
    <div class="col-sm-12 col-lg-8">
        <app-visitors></app-visitors>
    </div>
</div>
<app-visits-bounce></app-visits-bounce>
