<!-- <div class="row">
 
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Buyer Details</h4>
       
        <form class="w-50 m-b-30">
          <input type='text' class="form-control" placeholder='Type the name to Search...' (keyup)='updateFilter($event)' />
        </form>
        <ngx-datatable #table class='material' [columns]="columns" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="10" [rows]='rows'>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-12">
    <div class="card bg-light">
      <div class="card-body">
        <div class="d-flex no-block align-items-center m-b-10">
          <h4 class="card-title">Buyer</h4>
        </div>
        <div class="table-responsive" [perfectScrollbar]="config">
          <table class="table bg-white table-bordered nowrap display">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type of currency</th>
                <th>Price</th>
                <th>Limit</th>
                <th>Change</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let buyer of buyers">
                <td>{{ buyer.name }}</td>
                <td>{{ buyer.cryptoType }}</td>
                <td>${{ buyer.price }}</td>
                <td>{{ buyer.limit.minimum }} - {{ buyer.limit.maximum }} </td>
                <td>{{ "0" }}%</td>
                <td>
                  <button type="button" (click)="showModal(buyer)" class="btn btn-success">Sell</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<nz-modal [(nzVisible)]="is2ndVisible" nzTitle="Buy" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading" [nzFooter]="modalFooter">

  <form [formGroup]="buydata">

    <h6>Name:</h6>
    <div class="input-group mb-3">
      <input type="text" disabled class="form-control row" placeholder="{{selectedbuyer?.name}}"
        aria-describedby="basic-addon1">
    </div>

    <!-- <h6>Email:</h6>
    <div class="input-group mb-3">
      <input type="text" disabled class="form-control row" placeholder="{{selectedbuyer?.email}}"
        aria-describedby="basic-addon1">
    </div> -->
    <div class="input-group mb-3">
      <h6>Currency Type :</h6>
      <div class="input-group mb-3">
        <input type="text" *ngIf="selectedbuyer?.cryptoType == 'BTC'" class="form-control row" id="nametext1"
          placeholder="BitCoin" aria-describedby="basic-addon1" disabled>

        <input type="text" *ngIf="selectedbuyer?.cryptoType == 'ETH'" class="form-control row" id="nametext1"
          placeholder="Ethereum" aria-describedby="basic-addon1" disabled>
      </div>

      <h6>Price:</h6>
      <div class="input-group mb-3">
        <input type="text" disabled class="form-control row" placeholder="{{selectedbuyer?.price}}"
          aria-describedby="basic-addon1">
      </div>
    </div>

    <h6>Limit:</h6>
    <div class="input-group mb-3">
      <div class="input-group-append">
        <input type="text" class="form-control" id="nametext1"
          placeholder="{{selectedbuyer?.limit.minimum}}" aria-describedby="basic-addon1" disabled>
      </div>
      <div class="input-group-append">
        <span class="input-group-text">Min</span>
      </div>
      <div class="input-group-append">
        <input type="text" disabled class="form-control" placeholder="{{selectedbuyer?.limit.maximum}}"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group-append">
        <span class="input-group-text">Max</span>
      </div>
    </div>

    <h6>Terms and Conditions:</h6>
    <div class="input-group mb-3">
      <textarea class="form-control" disabled type="text" rows="3" aria-describedby="basic-addon1"
        placeholder="{{selectedbuyer?.description}}"></textarea>
    </div>
    <h6>Enter the amount in Dollars:</h6>
    <div class="input-group mb-3">
      <input [ngStyle]="{'background-color': (mycolor) ? 'red' : 'white'}" type="text" [(ngModel)]="amountSell"
        (ngModelChange)="CalcBitEth()" class="form-control" placeholder="$0.00" aria-describedby="basic-addon1"
        formControlName="usdAmount1">

      <div class="input-group-append">
        <span class="input-group-text">USD</span>
      </div>
      <input type="text" [(ngModel)]="usdAmount" [ngModelOptions]="{standalone: true}" disabled class="form-control"
        placeholder="0.00" aria-describedby="basic-addon1">
      <div class="input-group-append">
        <span *ngIf="selectedbuyer?.cryptoType == 'BTC'" class="input-group-text">Bitcoin</span>
        <span *ngIf="selectedbuyer?.cryptoType == 'ETH'" class="input-group-text">Etherreum</span>
      </div>

    </div>


  </form>
  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" [disabled]="buydata.invalid" (click)="handleOk()" [nzLoading]="isConfirmLoading">Confirm Buy</button>
  </ng-template>
</nz-modal>