<div class="row">
    <div class="col-lg-12">
        <div class="card bg-light">
            <div class="card-body">
                <div class="d-flex no-block align-items-center m-b-10">
                    <h4 class="card-title">User Details</h4>
                </div>
                <div class="table-responsive">
                    <table class="table bg-white table-bordered nowrap display">
                        <thead>
                            <tr>
                                <th> </th>
                                <th>Name</th>
                                <th>Type of currency</th>
                                <th>Phone</th>
                                <th>Role</th>
                                <th>Age</th>
                                <th>Joining date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlValidation10" required>
                                        <label class="custom-control-label" for="customControlValidation10"></label>
                                    </div>
                                </td>
                                <td>
                                    <a href="javscript:void(0)">
                                        <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle" width="30" /> Govinda jalan</a>
                                </td>
                                <td>govinda@gmail.com</td>
                                <td>+345 456 789</td>
                                <td>
                                    <span class="label label-success">Accountant</span>
                                </td>
                                <td>18</td>
                                <td>12-5-2017</td>

                                <td>
                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-close" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customControlValidation11" required>
                                        <label class="custom-control-label" for="customControlValidation11"></label>
                                    </div>
                                </td>
                                <td>
                                    <a href="javscript:void(0)">
                                        <img src="assets/images/users/2.jpg" alt="user" class="rounded-circle" width="30" /> Sonu Nigam</a>
                                </td>
                                <td>sonu@gmail.com</td>
                                <td>+456 456 789</td>
                                <td>
                                    <span class="label label-inverse">HR</span>
                                </td>
                                <td>36</td>
                                <td>18-5-2009</td>

                                <td>
                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-close" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>