<div class="row">
    <div class="col-lg-12">
        <div class="card bg-light">
            <div class="card-body">
                <div class="d-flex no-block align-items-center m-b-10">
                    <h4 class="card-title">User Details</h4>
                </div>
                <div class="table-responsive">
                    <table class="table bg-white table-bordered nowrap display">
                        <thead>
                            <tr>
                               
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Status</th>
                                <th>Type of request</th>
                                <th>BTC</th>
                                <th>ETH</th>
                            </tr>
                        </thead>
                        <tbody>
                        
                            <tr *ngFor="let request of requests">
                                
                                <!-- <td>
                                    <a href="javscript:void(0)">
                                        <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle" width="30" /> Govinda jalan</a>
                                </td> -->
                                <td>{{ request.Username }}</td>
                                <td>{{ request.Email }}</td>
                                <td>{{ request.Phone }}</td>
                                <td>{{ request.Address }}</td>
                                <td>
                                    <span class="label label-success">{{ request.Status }}</span>
                                </td>
                                <td>{{ request.TypeOfRequest }}</td>
                                <td>{{ request.BTC }}</td>
                                <td>{{ request.ETH }}</td>

                                <td>
                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete">
                                        <i class="ti-close" aria-hidden="true"></i>
                                    </button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>