<div class="row" style="background-color:darkorchid; height: 50px; padding-bottom: 20px;">
<ul class="navbar-nav mr-auto row" >
    <li class="nav-item" style="margin-left: 40px; margin-top: 10px;">
        <a href="#/dashboard/dashboard1">
            <img src="assets/images/users/iccon.png" alt="user" class="rounded-circle" width="31" style="padding-right: 5px;">
            <img src="assets/images/users/text.png" style="margin-top: 3px;">      
        </a>
            
    </li>    
</ul>
<ul class="navbar-nav float-right" style="margin-right: 20px; margin-top: 10px;">
    <li class="nav-item">
            <img src="assets/images/users/1.jpg" alt="user" class="rounded-circle" width="31">
    </li>
</ul>
</div>