<app-navigation></app-navigation>

<app-info-card [clients]="clients"></app-info-card>

<app-data-table [clients]="clients"></app-data-table>

<div class="row">
  <div class="col-sm-12">
     <app-request-table [requests]="requests"></app-request-table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
     <app-approved-request-admin [approvedRequests]="approvedRequests"></app-approved-request-admin>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
     <app-AdminWithdrawrequest-table [withdrawRequest]="withdrawRequest"></app-AdminWithdrawrequest-table>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    
     <app-addressestable [btcAddresses]="btcAddresses"></app-addressestable>
  </div>
</div>
