<app-navigation></app-navigation>
<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<app-info-card count="count"></app-info-card>
<!-- ============================================================== -->
<!-- Info card -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- <app-sales></app-sales> -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- User -->
<!-- ============================================================== -->
<app-data-table [clients]="clients"></app-data-table>
<!-- <app-user-details></app-user-details> -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-sm-12">
    <!--  <app-topsell></app-topsell> -->
     <app-request-table [requests]="requests"></app-request-table>
  </div>
</div>
<!-- smart table for addresses -->
<div class="row">
  <div class="col-sm-12">
    
     <app-addressestable [btcAddresses]="btcAddresses"></app-addressestable>
  </div>
</div>
<!-- total earnings -->
<div class="row">
  <!-- <div class="col-lg-8">
        <app-review></app-review>
    </div> -->
  <div class="col-lg-4">
    <app-earnings></app-earnings>
  </div>
</div>
<!-- ============================================================== -->
<!-- Top Selliing Products -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- <app-sales-income></app-sales-income> -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
<!-- <div class="row">

    <div class="col-lg-6">
        <app-comment></app-comment>
    </div>

    <div class="col-lg-6">
        <app-chat></app-chat>
    </div>
</div> -->
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
