<div class="card earning-widget">
    <div class="card-body">
        <h4 class="m-b-0">Total Earning</h4>
    </div>
    <div class="border-top scrollable" style="height:365px;" [perfectScrollbar]="config">
        <table class="table v-middle no-border">
            <tbody>
                <tr>
                    <td style="width:40px">
                        <img src="../../../../assets/images/users/bitcoin.jpg" width="50" class="rounded-circle" alt="logo">
                    </td>
                    <td>Bitcoins</td>
                    <td align="right">
                        <span class="label label-info">{{singleclient.btc | number  : '1.3-3'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../../../../assets/images/users/ethereum.jpg" width="50" class="rounded-circle" alt="logo">
                    </td>
                    <td>Ethereums</td>
                    <td align="right">
                        <span class="label label-success">{{singleclient.eth | number : '1.3-3'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../../../../assets/images/users/price.jpg" width="50" class="rounded-circle" alt="logo">
                    </td>
                    <td>Dollars</td>
                    <td align="right">
                        <span class="label label-primary">{{singleclient.dollar | number : '1.3-3'}}</span>
                    </td>
                </tr>
                <tr>
                    <td style="width:40px">
                        <img src="../../../../assets/images/users/bitcoin.jpg" width="50" class="rounded-circle" alt="logo">
                    </td>
                    <td>Reserved Bitcoins</td>
                    <td align="right">
                        <span class="label label-info">{{singleclient.reservedBtc | number : '1.3-3'}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../../../../assets/images/users/ethereum.jpg" width="50" class="rounded-circle" alt="logo">
                    </td>
                    <td>Reserved Ethereums</td>
                    <td align="right">
                        <span class="label label-success">{{singleclient.reservedEth | number : '1.3-3'}}</span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="../../../../assets/images/users/price.jpg" width="50" class="rounded-circle" alt="logo">
                    </td>
                    <td>Reserved Dollars</td>
                    <td align="right">
                        <span class="label label-success">{{singleclient.reservedDollar | number : '1.3-3'}}</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>