<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Sign In</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="loginForm">
                        <div padding>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                </div>
                                <input type="email" formControlName="email" class="form-control form-control-lg" placeholder="Example@email.com" aria-label="email" aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                                </div>
                                <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-md-12">
                        </div>
                        
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <a (click)="showRecoverForm()" href="#/authentication/Lock" id="to-recover" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12 ">
                                <div padding>
                                    <button class="btn btn-block btn-lg btn-info" [disabled] ="loginForm.invalid" 
                                    type="submit" (click)="login()">Log
                                        In</button>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="col-sm-12 text-center">
                            Don't have an account? <a href="#/authentication/signup" class="text-info m-l-5"><b>Sign
                                    Up</b></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="recoverform" [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row m-t-20">
            </div>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Verify yourself" 
 (nzOnOk)="handleOk()"
    [nzOkLoading]="isOkLoading"
    [nzFooter]="modalFooter">
    <div>
      <label>Please send a scanned photocopy of your driving license(both sides) or
      National identity card(both sides) or Passport number page for the verification purpose on my email</label>
      </div>
<ng-template #modalFooter>
  <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">OK</button>
</ng-template>
</nz-modal>